<% provide(:title, @question.title+" por "+@user.name) %>
<div class="row">
  	  <h2><%= link_to(@user.name, @user) %> preguntó...</h2>
        <div class="qtitle">
          <%= @question.title %>
        </div>
        <div class="qarea">
          <%= @question.area.name %>
        </div>
        <div class="qlevel">
          <% if @question.level==1 %>
          Urgencia Baja
          <% elsif @question.level==2 %>
          Urgencia Media
          <% else %>
          Urgencia Alta
          <% end %>
        </div>
        <br><br>
        <div class="qcontent">
            <%= simple_format(@question.content) %>
        </div>
</div>
<br><br>
<% if @question.answers.any? %>
      <div class="aquant">
        Respuestas (<%= @answer_count %>)
      </div>
      <ol class="answers">
        <%= render @answers %>
      </ol>
<% end %>
<br>
<center>
<% if current_user!=@user %>
  <% if !@answers.where("user_id = ?", current_user.id).any? %>
    <%= link_to "Responde!", new_user_question_answer_path(@user, @question), class: "btn btn-large btn-primary" %>
  <% end %>
<% else %>
  <% if @question.answers.where("available = 0").any? %>
    <% if @user.score>=@question.level*10 %>
      <%= link_to "Canjear Puntos", user_question_path(@user, @question), method: :put,  class: "btn btn-large btn-primary" %>
    <% else %>
      <%= link_to "Comprar puntos", buy_path, class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  <%if @useful == 0 and @shown != 0 %>
    <%= link_to "Ninguna es correcta", "/refund/#{@question.id}", class: "btn btn-large btn-primary" %>
  <%end%>
</center>
<% end %>