<% provide(:title, @question.title+" por "+@user.name) %>
<div class="row">
  	  <h2><%= link_to(@user.name, @user) %> preguntó...</h2>
        <div class="qtitle">
          <%= @question.title %>
        </div>
        <div class="qarea">
          <%= @question.area.name %>
        </div>
        <div class="qlevel">
          <% if @question.level==1 %>
          Urgencia Baja
          <% elsif @question.level==2 %>
          Urgencia Media
          <% else %>
          Urgencia Alta
          <% end %>
        </div>
        <br><br>
        <div class="qcontent">
            <%= simple_format(@question.content) %>
        </div>
</div>
<br><br>
<% if @question.answers.any? %>
      <div class="aquant">
        Respuestas (<%= @answer_count %>)
      </div>
      <ol class="answers">
        <%= render @answers %>
      </ol>
<% end %>
<br>
<center>
<% if current_user!=@user %>
  <% if !@answers.where("user_id = ?", current_user.id).any? && @question.solved==0 %>
    <%= link_to "Responde!", new_user_question_answer_path(@user, @question), class: "btn btn-large btn-primary" %>
  <% end %>
<% else %>
  <% if @question.answers.where("available = 0").any? %>
    <% if (@question.level==1 && @user.score>=40) || (@question.level==2 && @user.score>=80) || (@question.level==3 && @user.score>=120)%>
      <% if @question.level==1 %>
        <%= link_to "Canjear 40 puntos", user_question_path(@user, @question), method: :put,  class: "btn btn-large btn-primary" %>
      <% end %>
      <% if @question.level==2 %>
        <%= link_to "Canjear 80 puntos", user_question_path(@user, @question), method: :put,  class: "btn btn-large btn-primary" %>
      <% end %>
      <% if @question.level==3 %>
        <%= link_to "Canjear 120 puntos", user_question_path(@user, @question), method: :put,  class: "btn btn-large btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Comprar puntos", buy_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Responder Preguntas", questions_path, class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  <%if @useful == 0 and @shown != 0 %>
    <%= link_to "Ninguna es correcta", "/refund/#{@question.id}", class: "btn btn-large btn-primary", data: { confirm: "Esta operación te impedirá volver a ver las respuestas cargadas hasta ahora. ¿Estas seguro que ninguna es correcta?" } %>
  <%end%>
</center>
<% end %>