<% provide(:title, 'Comentar sobre Respuesta') %>
<div class="row">
      <h2><%= link_to(@user.name, @user) %> respondió...</h2>
      <div class="qcontent">
        <%= @answer.content %>
      </div>
</div>
<br>
<h1>Comenta sobre la Respuesta!</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for([@user, @question, @answer, @comment]) do |f| %>
  <%= render 'shared/comment_error_messages', object: f.object %>
  <div class="field">
    <%= hidden_field_tag 'comment[user_id]', current_user.id %>
    <%= f.text_area :content, placeholder: "Comentario..." %>
  </div>
  <center>
    <%= f.submit "Comentar!", class: "btn btn-large btn-primary" %>
  </center>
<% end %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
  <div class="aclaracion">
   <p>
    Si el usuario que cargó la pregunta considera que tu comentario le fue de ayuda, ganarás puntos por colaborar en la respuesta.
   </p>
  </div>
 </div>
</div>
