<% provide(:title, "Calificar respuesta de "+@writer.name) %>
<h1>Califica la Respuesta</h1>
	<div class="row">
  	  	<h2><%= link_to(@writer.name, @writer) %> respondió...</h2>
  	  	<%= simple_format(@answer.content) %>
  	</div>
  	<br>
  	<div class="row">
  		<div class="span6 offset0">
	  		<%= form_for ([@user, @question, @answer]) do |f| %>
	  			<%= render 'shared/prize_error_messages' %>
	  			<%= hidden_field_tag 'answer[points]', 1 %>
			  	<% if @comments.any? %>
			      <h3>Comentarios (<%= @comments.count %>)</h3>
			      <br>
			      <%= f.fields_for :comments do |ff| %>
			      <%= render 'shared/comment_fields', f: ff %>
			      <% end %>
				<% end %>
		</div>
	</div>
	<center>
	 <%= f.submit "Calificar", class: "btn btn-large btn-primary" %>
	</center>
<% end %>
<div class="row">
  <div class="span6 offset3">
  <div class="aclaracion">
   <p>
    Premiarás a los usuarios participantes por la mejor respuesta. Puedes otorgar porcentajes de utilidad a los comentarios que ayudaron, pero en total no pueden superar el 50%.
   </p>
   <p>
   	La cantidad total de puntos que ganarán los calificados depende de la urgencia:
   </p>
   <p>
    Urgencia baja 50 ptos. | Urgencia Media 100 ptos. | Urgencia Alta 150 ptos.
   </p>
  </div>
 </div>
</div>